body {
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background: #bbb4be;
}

h1 {
  margin: 1rem;
}

#game {
  display: grid;
  grid-template-columns: repeat(9, 1fr); /* マス数変更 */
  width: 90vw;
  max-width: 400px;
  margin: auto;
  gap: 2px;
}

.cell {
  background: #49444a;
  /* border: 1px solid #b6b6b6; */
  aspect-ratio: 1 / 1;
  font-size: 1.5rem;  /* ← 1.5rem → 2rem にすると見やすい */
  user-select: none;
  touch-action: manipulation;
  border-radius: 20%;
  box-shadow: -1px -1px 1cqh #0000008f inset;
}
.cell {
  touch-action: manipulation;
  -webkit-user-select: none;
  user-select: none;
}

.cell.open {
  background: #e9f2bd;
  box-shadow: 2px 2px 3px #a2a27d inset;
}

.cell.flag {
  background: #fc49b4;
  /* box-shadow: -1px -1px 1cqh #fc49b4 inset; */
}

#message {
  margin-top: 1rem;
  font-weight: bold;
  font-size: 1.5em;
  color: #c70017;
}

/* リセット */
#reset,#hintBtn {
  margin-top: 1rem;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  background-color: #4d43e0;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;

}
#hintBtn {
  background-color: #919191;
}

#reset:hover {
  background-color: #9e29a0;
}

/* クリア時 */
#message {
  position: fixed;
  top: 30%;
  left:50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: #fff;
  background: linear-gradient(45deg, #ff00cc, #3333ff);
  padding: 3rem 1rem;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.7);
  text-align: center;
  opacity: 0;
  z-index: 9999;
  pointer-events: none;
  animation: none;
  width: 80%;
}
@media screen and (min-width: 768px){
  #message {
    max-width: 500px;
  }
}

@keyframes popup {
  0% {
    transform: translate(-50%, -50%) scale(0.6);
    opacity: 0;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

/* ゲームオーバー */
.message-success {
  color: #e91e63;
  background: #fff3f7;
}

.message-fail {
  color: #444;
  background: #f70000;
}

/* ヒント */
.cell.hint {
  position: relative;
}

.cell.hint::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  border: 5px solid rgb(255, 62, 62);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  animation: pulse 1.5s infinite;
}

